body{
	/*overflow-y: hidden;*/
}

.data{
	width: 100%;
	height: 900px;
}

.data-camera{
	font-size: 20px;
	color: #000;
	margin-top: 50px;
	margin-left: 10%;
	float: left;
}

.data-tittle{
	font-size: 20px;
	color: #000;
	margin-top: 50px;
	margin-left: 5%;
	float: left;
}

.pickdata{
	width: 520px;
	float: right;
	height: 60px;
	overflow: hidden;
	margin-top: 50px;
	margin-right: 10%;
}

.dataspan{
	float: left;
	margin:5px -10px 0 10px;
	font-size: 20px;
}

.pickdatacheck{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#mydata1,#mydata2{
	float: left;
	width: 100px;
	margin-left: 20px;
	padding-left: 10px;
	height: 30px;
	margin-top: 7px;
}

.picksubmit{
	margin-left: 20px;
	margin-top: 5px;
}

.data-box{
	width: 100%;
	background: #fff;
	height: 900px;
	float: left;
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.data-content{
	margin-top: 40px;
	width: 100%;
	height: 500px;
	float: left;
}

.data-bar{
	width: 90%;
	height: 50px;
	float: left;
	margin-left: 5%;
	margin-top: 40px;
}

#chips{
	border:0;
	margin-left: 0;
	position: relative;
	width: 50%;
	background: #fdfeef;
	height: 250px;
	padding: 15px;
	float: left;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
				0 2px 4px 0 rgba(0,0,0,0.12);
}

.chip{
	z-index: 3;
	position: relative;
}

.chipscover{
	z-index: 2;
	width: 100%;
	height: 45px;
	margin-top: -57px;
	position: relative;
}

#chipsinput{
	z-index: 1;
	position: relative;
}

#selectDatamodal{
	height: 300px;
}

.modal-footer{
	margin-top: -10px;
	padding-right: 5%!important;
}

#selectCamera,#selectData{
	width: 30%;
	margin-left: 10%;
	float: left;
}

#selectDatamodal h4{
	margin-left: 10%;
}

.select-dropdown{
	top: 0!important;
}

.toExcel{
	padding: 38px 0 0 60px;
	float: left;
	width: 20%;
	height: 250px;
	border-radius: 3px;
	background: #e9fbfc;
	margin-left: 5%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
				0 2px 4px 0 rgba(0,0,0,0.12);
}

.toline{
	margin-top: 20px;
}

#toExcelsubmit{
	margin-top: 20px;
	margin-left: 20px;
}

.toUserindex{
	padding: 38px 0 0 60px;
	float: left;
	width: 20%;
	height: 250px;
	border-radius: 3px;
	background: #f9e6e6;
	margin-left: 5%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
				0 2px 4px 0 rgba(0,0,0,0.12);
}

#toUserindexsubmit{
	margin-top: 40px;
}





