@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body
    {
        background: #f9f9f9;
        font-family: "Open Sans", 微軟正黑體, "Microsoft Yahei", sans-serif;
        font-weight: 400;
        overflow-x: hidden;
    }

/* start hr */
hr
    {
        border: 1px solid #55acee;
        width: 100px;
        margin-top: 20px;
    }
/* end hr */

/* start h2 */
h2
    {
        font-size: 60px;
        text-align: center;
    }
/* end h2 */

/* start h4 */
h4
    {
        text-align: center;
        padding-bottom: 50px;
    }
/* end h4 */
.btn {
    background: transparent;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 40px;
	padding: 12px 22px;
    transition: all 0.4s ease-in-out;
}
.btn:hover {
    background: #55acee;
    border-color: transparent;
}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/* start overlay */
.overlay
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.7);
    }
/* end overlay */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #55acee;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.custom-navbar
    {
        margin-bottom: 0;
        background-color: #fff;
        text-align: right;
    }
.custom-navbar .navbar-brand
    {
        color: #55acee;
        font-weight: bold;
        font-size: 28px;
    }
.custom-navbar .nav li a
     {
         color: #999;
         font-weight: 300;
         font-size: 13px;
         text-transform: uppercase;
    }
.custom-navbar .nav li a:hover
    {
        background: transparent;
        color: #55acee;
    }
.custom-navbar .nav li.active > a
    {
         background-color: transparent;
         color: #55acee;
    }
.custom-navbar .navbar-toggle
    {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar
    {
        background: #55acee;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar
         {
             padding: 20px 0;
            border-bottom: 0;
             background: 0 0;
             transition: all 0.3s ease;
         }
    .custom-navbar.top-nav-collapse
         {
            padding: 0;
            box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
            background: #fff;
        }
}
/* end navigation */

/* start home */
#home h1
    {
        font-size: 80px;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: 2px;
        padding-top: 10px;
    }
#home span
    {
        color: #55acee;
        font-weight: bold;
    }
#home .btn {
    background: rgba(0,0,0,0.6);
    border: none;
}
#home .btn:hover {
    background: rgba(255,255,255,0.6);
}
.templatemo_homewrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    padding: 0;
    position: relative;
    zoom: 1;
    background-color: #371604;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.flexslider .slides {
    padding: 0;
    zoom: 1;
}
.flexslider .slides img {
    width: 100%;
    min-width: 648px;
    min-height: 270px;
    display: block;
}
.flexslider .slides > li {
    display: none;
    padding: 0;
    position: relative;
    -webkit-backface-visibility: hidden;
}
.flexslider img {
    position: relative;
    width: 100%;
}
.slider-caption {
    color:white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* end home */

/* start service */
#service
    {
        background: #f9f9f9;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#service .media
    {
        padding: 10px;
    }
#service .media .fa
    {
        color: #55acee;
        font-size: 60px;
        margin-right: 20px;
        width: 65px;
        height: 65px;
    }
#service .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */

/* start divider */
.divider
    {
        background: url('../img/index/divider-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
        text-align: center;
    }
.divider .divider-des
    {
        padding: 100px 15px;
    }
/* end divider */

/* start about */
h3.about-title {
    margin-top: 0;
}
#about
    {
        background: #fff;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#about .progress
    {
        background: #f9f9f9;
        box-shadow: none;
        border-radius: 0px;
    }
#about .progress .progress-bar-danger
    {
        background: #55acee;
    }
#about span
    {
        display: block;
        margin-top: 12px;
        margin-bottom: 6px;
    }
#about .about-wrapper
    {
        background: #ffffff;
        box-shadow: 0px 8px 2px 2px rgba(50,50,50, 0.08);
        margin-top: 60px;
        margin-bottom: 20px;
        max-width: 500px;
        padding: 20px;
    }
#about .about-wrapper h3
    {
        color: #55acee;
        font-size: 20px;
        font-weight: bold;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #fff;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
        transition: all 0.3s ease;
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa:hover {
    background: #55acee;
    border-color: #55acee;
}
#portfolio .portfolio-thumb .portfolio-overlay h4
    {
        padding-bottom: 10px;
    }
    .portfolio-description {
        padding-left: 15px;
        padding-right: 15px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
    transition: all 0.3s ease;
}
.filter-wrapper li:hover {
    background: #55acee;
}
.filter-wrapper li:hover a {
    color: #fff;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact
    {
        background: #ffffff;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#contact .form-control
    {
        background: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #CCC;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        border: 2px solid #55acee;
        font-weight: bold;
		color: #55acee;
    }
#contact input[type="submit"]:hover
    {
        background: #55acee;
		color: #fff;
    }
/* end contact */

/* start footer */
footer
    {
        background: #202020;
        color: #ffffff;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
footer p
    {
        display: block;
        padding-top: 40px;
    }
footer span
    {
        color: #55acee;
        font-weight: bold;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        top: 20px;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
    }
.social-icon li a
    {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
    }
.social-icon li:hover
    {
        background: #55acee;
    }
/* end social icon */

/* start media 980 */
@media screen and ( max-width: 980px ){
    #home h1
        {
            font-size: 40px;
        }
    h2
        {
            font-size: 30px;
        }

}
/* end media 980 */


/* start media 768 */
@media screen and ( max-width: 767px ){
    h4 {
        padding-bottom: 20px;
    }
   #home h1
    {
        font-size: 40px;
    }
    #home {
        margin-top: 50px;
    }
    .templatemo-about-left {
        margin-bottom: 30px;
    }
    #about .about-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
}
/* end media 768 */

@media screen and (max-width: 440px) {
    h4 {
        padding-bottom: 15px;
        line-height: 1.5em;
    }
    .filter-wrapper li {
        margin: 2px;
    }
    .filter-wrapper li a {
        padding: 6px 10px;
    }
}

@media screen and (max-width: 380px) {
    #service .media .fa {
        margin-right: 5px;
    }
}

/* start media 360 */
@media screen and ( max-width: 360px ){
    #home h1
        {
            font-size: 30px;
            line-height: 1.5em;
        }
}
/* end media 360 */
