/*index css by woodyxiong*/
main{
	overflow: hidden;
	margin-top: 80px;
}

/*//////////////////bar begin////////////////////////*/
.bar{
	top: 0px;
	position: fixed;
	width: 100%;
	height: 50px;
	background: #2585f4;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
	overflow: hidden;
	z-index: 1;
}

#barmenu{
	line-height: 50px;
	height: auto;
	font-size: 40px;
	margin-left: 20px;
	color: #fff;
	cursor: pointer;
	float: left;
}

#barinfo{
	line-height: 50px;
	float: left;
	margin-left: 40px;
	font-size: 25px;
}

#topbar{
	width: 420px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	float: right;
	overflow: hidden;
}

#topbar a{
	padding: 0 10px;
	background: none;
	box-shadow: none;
	float: left;
}

#topbar img{
	display: inline-block;
	border-radius: 50%;
	line-height: 50px;
	height: 35px;
	width: 35px;
	margin-top: -3px;
	position: relative;
	top: 9px;
	margin-right: 10px;
}

#topbarmail{
	margin-left: 15px;
	font-size: 30px;
	margin-top: -2px;
}
#topbarmail:hover{
	color:#FFB6B6;
	transition: 0.5s;
}


/*/////////////////////bar over////////////////////////*/
/*//////////////////slidebar begin////////////////////////*/
.slidebar{
	background: white;
	height: 0;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
}

.userView{
	background: url(../img/slidebar.jpg) center center no-repeat;
}

/*#slidebartittle{
	width: 100%;
	height: 160px;
	background: url(../img/slidebar.jpg) center center no-repeat;
	background-size: 100%;
}*/

/*.slidea{
	float: left!important;
	width: 100%;
}

#slidebartittle span img{
	width: 60px;
	height: 60px;
	margin-left: 15px;
	margin-top: 60px;
	border-radius: 50%;
}

#slidebartittle #name{
	margin-left: -60px;
	margin-top: 110px;
	position: absolute;
	color: #371CCC;
}

#icon{
	font-size: 30px;
	display: inline-block;
	top:8px;
	position: relative;
	margin-top: -5px;
	margin-right: 40px;
	margin-left: -14px;
}

.icona:hover{
	color:#6D6D6D;
	transition: 0.5s;
}*/


/****************slidebar over****************/
/***************iframe begin***************/
iframe{
	width: 100%;
	height: 1000px;
	padding: 0;
	border: 0;
	margin-top: 50px;
}
/***************iframe over***************/
/********footer begin********/
.footer{
	overflow: hidden;
	width: 100%;
	height: 50px;
	background: #44b1c7;
	margin: 0 auto;
	float: left;
	margin-top: 20px;
	color: #fff;
}

.footerbox{
	width: 1270px;
	height: 50px;
	margin: 0 auto;
	font-size: 16px;
}

.footer-left{
	width: 500px;
	margin-left: 3%;
	margin-top: 13px;
	float: left;
}

.footerbox a{
	color: #fff;
}
.footerbox a:hover{
	color: #ddd;
	transition: 0.5s;
}

.footer-right{
	margin-right: 3%;
	margin-top: 13px;
	float: right;
}

.footer-right a{
	margin-right: 30px;
}

.footer-right a:last-child{
	margin-right: 0;
}

@media only screen and (min-width: 920px) and (max-width: 1300px) {
	.footerbox{
		width: 90%;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 920px) {
	.footerbox{
		width: 100%;
	}

	.footer-left{
		width: 100%;
		text-align: center;
	}
}






































