body{
	/*overflow-y: hidden;*/
}

.content{
	width: 1270px;
	height: auto;
	margin: 0 auto;
}

.tittle{
	font-size: 20px;
	color: #777;
	font-weight: 400;
	margin-left: 4%;
	margin-top: 20px;
}

/***************chart begin************/
.chartcontainer{
	width: 100%;
	height: auto;
}

.chartbox{
	width: 94%;
	height: 350px;
	margin-left: 3%;
	background: #f8f8f8;
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	overflow: hidden;
	cursor: default;
}

.charttittle{
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

.charttittle h5{
	color: #000;
	float: left;
}

.charttittle h6{
	color: #aaa;
	float: left;
	margin-left: 20px;
	position: relative;
	top: 15px;
}

.chart{
	width: 100%;
	height: 291px;
	float: left;
}

/*****************chart over************/
/****************mamera begin************/
.camerabox{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
}
.camera{
	width: 275.3px;
	height: 250px;
	background: red;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.cameratittle{
	width: 100%;
	height: 35px;
	padding-left: 20px;
	padding-top: 10px;
	color: #fff;
	font-size: 20px;
}

.dashboard{
	margin-top: -10px;
	width: 100%;
	height: 180px;
}

.dashboard1{
	cursor: pointer!important;
	margin-left: 3%;
	background: #2196f3;
}

.dashboard2{
	background: #009688;
}

.dashboard3{
	background: #e91e63;
}

.dashboard4{
	background: #ffc107;
}

.cameratime{
	width: 100%;
	height: 45px;
	background: #5FB1B1;
	color: #fff;
	padding-top: 8px;
	font-size: 20px;
	padding-left: 20px;
	white-space:pre;
}


/**************camera over************/
/**************map begin************/
.mapbox{
	width: 94%;
	margin-left: 3%;
	height: 300px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	float: left;
	margin-top: 30px;
}

/*****************map over*****************/
/************operationlog begin************/
.operationlog{
	width: 94%;
	height: 508px;
	margin-left: 3%;
	background: #f8f8f8;
	float: left;
	margin-top: 30px;
	float: left;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	overflow: hidden;
}

.logtittle{
	width: 100%;
	height: 40px;
	color: #000;
	font-size: 20px;
	margin: 15px 0 0 20px;
	float: left;
}

.logcontent{
	width: 100%;
	height: 400px;
	margin-top: 10px;
	padding: 0 20px 0 20px;
	float: left;
}

.paginationbox{
	width: 300px;
	height: 60px;
	position: relative;
	margin-left: 380px;
	margin-top: 20px;
}

/************operationlog over************/

/*响应式css*/
@media only screen and (min-width: 615px) and (max-width: 1300px) {
	.content{
		width: 100%;
	}

	#data1{
		width: 100%;
		height: 294px;
	}

	.paginationbox{
		float: right;
		margin-left: 0;
	}

	.camerabox{
		height: auto;
	}

	.camera{
		width: 45%;
		margin-left: 3%;
		float: left;
	}

	.cameratime{
		text-align: center;
	}
}
@media only screen and (min-width: 310px) and (max-width: 610px) {
	.content{
		width: 100%;
		height: auto;
	}

	.chartcontainer{
		height: 370px;
	}

	.charttittle{
		overflow: hidden;
		height: 60px;
	}

	.charttittle h5,h6{
		float: left;
		margin: 0;
	}

	.charttittle h6{
		margin-left: 0;
	}

	.chart{
		height: 290px;
	}

	#data1{
		width: 100%;
		height: 294px;
	}

	.camera{
		width: 94%;
		margin-left: 3%;
	}

	.camerabox{
		height: auto;
	}

	.cameratime{
		text-align: center;
	}

	.operationlog{
		height: 650px;
	}

	.paginationbox{
		margin-left: 0;
		float: right;
	}

	.pagination{
		width: 310px;
	}
}
@media only screen and (min-width: 486px) and (max-width: 624px) {
	.operationlog{
		height: 490px;
	}
}
@media only screen and (min-width: 310px) and (max-width: 360px) {
	.operationlog{
		height: 690px;
	}

	.paginationbox{
		margin-left: 20px;
		float: right;
	}

	.pagination{
		width: 310px;
	}
}
