<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>data</title>
    <!-- import css -->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/materialize.min.css"  media="screen,projection"/>
    <!-- 全局css文件 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/all.css">
    <!-- index css文件 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/data.css">
    
    <!-- import js -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery.3.1.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/materialize.min.js"></script>

    <!-- inport echarts.js -->
    <script type="text/javascript" src="__PUBLIC__/js/charts/echarts.min.js"></script>
    <script src="__PUBLIC__/js/charts/macarons.js"></script>
    <script src="__PUBLIC__/js/charts/infographic.js"></script>
    <script src="__PUBLIC__/js/charts/shine.js"></script>

</head>
<body>
<section class="preloader">
    <div class="preloaderbox">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                    <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>  
</section>
                                 
<section class="data">
    <div class="data-camera">摄像头1</div>
    <div class="data-tittle">甲醛含量</div>
    <div class="pickdata">
        <form id="dataform" name="dataform" action="{:U('data/excel')}" method="post">
            <div class="pickdatacheck">
                <input type="checkbox" id="taifeng" />
                <label for="taifeng">只查看某天</label>
            </div>
            <input type="date" placeholder="选择开始日期" class="datepicker" id="mydata1">
            <div class="dataspan">-</div>
            <input type="date" placeholder="选择结束日期" class="datepicker" id="mydata2">
            <a href="javascript:void(0)" class="waves-effect waves-light btn picksubmit" id="picksubmit">查询</a>
        </form>
    </div>
    <div class="data-box">
        <div class="data-content" id="data1"></div>
        <div class="data-bar">
            
            <div class="chips chips-placeholder">
            </div>
            <!-- <a class="waves-effect waves-light btn blue" href="{:U('data/excel')}">生成Excel文件</a> -->
            <!-- <div class="chip">
                Tag
                <i class="close material-icons">close</i>
            </div> -->
        </div>
    </div>

</section>















<!-- chart1 -->
<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('data1'),'shine');
// 指定图表的配置项和数据
option = {
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['甲醛含量'],
        textStyle:{
            fontFamily:'Open Sans,微軟正黑體,Microsoft Yahei,sans-serif',
            fontSize:17
        }
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            dataZoom : {show: true},
            dataView : {show: true},
            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        show : true,
        realtime : true,
        start : 20,
        end : 80
    },
    grid : {
        x:'5%',
        x2:'5%'
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data:[
                <volist name="data" id="vo">
                    '{$vo.datatime}',
                </volist>

            ]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            smooth:true,
            name:'甲醛含量',
            type:'line',
            stack: '总量',
            itemStyle: {normal: {areaStyle: {type: 'default'},color:'#8190E6'}},
            data:[
                <volist name="data" id="vo">
                    '{$vo.data}',
                </volist>

            ]
        }
    ]
};
myChart.setOption(option);
</script>
<!-- chart1 over -->


<script type="text/javascript" src="__PUBLIC__/js/data.js"></script>
</body>
</html>